BasedOnStyle: Google
AccessModifierOffset: '0'
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Right
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBraces: Linux
BreakConstructorInitializers: AfterColon
ColumnLimit: '80'
CompactNamespaces: 'true'
IndentWidth: '2'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
MaxEmptyLinesToKeep: '1'
SortIncludes: 'true'
