BasedOnStyle: Google
AccessModifierOffset: '0'
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Right
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBraces: Linux
BreakConstructorInitializers: AfterColon
ColumnLimit: '80'
CompactNamespaces: 'true'
IndentWidth: '2'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
MaxEmptyLinesToKeep: '1'
SortIncludes: 'true'
IncludeBlocks: Regroup
IncludeCategories:
  # standard libraries
  - Regex:           '^<([A-Za-z0-_])+>'
    Priority:        4
  # third-party libraries
  - Regex:           '^<([A-Za-z0-9.\/-_])+>'
    Priority:        3
  # pangolin includes
  - Regex:           '^<pangolin\/([A-Za-z0-9.\/-_])+>'
    Priority:        2
  # very local includes
  - Regex:           '^\"([A-Za-z0-9.\/-_])+\"'
    Priority:        1
PointerAlignment: Left
QualifierAlignment: Left
